.workSpaceMainContainer {
  background-color: #1f1f23;
  width: 100%;
  min-height: 100vh;
  color: white;
  font-family: "Open Sans", sans-serif;
}
.workSpaceMainContainer header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #18181b;
  padding-inline: 20px;
  height: 60px;
  border-bottom: 1px solid rgb(61, 61, 61);
  position: fixed;
  width: 100%;
  z-index:10;
}
header .left {
  padding-top: 7px;
  margin-left: 10px;
}
header .left input {
  width: 80%;
  font-size: 14px;
  font-weight: 600;
  background-color: #37373e;
  height: 25px;
  border: none;
  border-radius: 3px;
}
header .center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(203, 202, 202);
}
header .center {
  cursor: pointer;
}
.navTxt {
  padding: 5px 8px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
}
.navTxt:hover {
  color: #7ea6ff;
}
.botText {
  color: #7ea6ff;
  border: 1px solid #7ea6ff;
  padding: 5px 8px;
  border-radius: 6px;
}
header .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 14px;
  font-weight: 600;
}
header .right .threeBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  outline: none;
}
header .right .saveBtn {
  background-color: #57ce82;
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1.05rem;
}
header .right .saveBtn:hover {
  background-color: #04ff64;
}
header .right .updateBtn {
  background-color: #cdd24b;
  color: black;
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1.05rem;
}
header .right .updateBtn:hover {
  background-color: #fbf709;
}
header .right .notUpdateBtn {
  background-color: #acaca7;
  color: black;
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1.05rem;
}
header .right .shareBtn {
  background-color: #3686d2;
  color: black;
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1.05rem;
}
header .right .shareBtn:hover {
  background-color: #0a84ff;
}
header .right .deleteBtn {
  background-color: #e34040;
  color: rgb(255, 255, 255);
  padding: 2px 11px;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  font-size: 1.05rem;
}
header .right .deleteBtn:hover {
  background-color: #ff0000;
}
