.responseMainContainer {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.boxContainer {
  display: flex;
  justify-content: center;
  gap: 19%;
  padding: 20px;
  margin-top: 60px;
}
.box {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 85px;
  margin-block: 60px;
  flex-direction: column;
  border-radius: 10px;
  background-color: rgb(67, 66, 66);
}
.box div {
  font-weight: 600;
  font-size: 1.3rem;
  padding-inline: 10px;
  min-width: 130px;
}
.box div:last-child {
  font-weight: 500;
  font-size: 1.2rem;
}
/* submissionContainer */

table {
  width: 70%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #444;
}
th,
td {
  border: 1px solid #444;
  padding: 8px;
  text-align: left;
}
td {
  word-wrap: break-word;
}
td {
  max-width: 200px;
}
/* response data show through pop up */

.responsePopUpShow {
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  position: fixed;
  border-radius: 20px;
  top: 7%;
  right: 10px;
  width: 30%;
  height: 85%;
  z-index: 1000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-y: auto;
  scrollbar-width: none;
}

.botBox {
  display: flex;
  flex-direction: column;
  gap: 11px;
  font-size: 20px;
  width: 300px;
  font-weight: 600;
  padding: 15px 16px;
  border-radius: 16px;
  margin-top: 15px;
  position: relative;
}

.responsePopUpShow textarea {
  background-color: #4ec464;
  border: none;
  width: 100%;
  resize: none;
  font-size: 16px;
  box-sizing: border-box;
  overflow: auto;
  max-height: 40px;
}
.responsePopUpShow img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}